<ul class="pipelines">
<%- @pipelines.each do |pipeline| -%>
<li class="<%= pipeline.done?? "success" : (pipeline.steps.size == 0 || pipeline.steps.where(failed: true).size > 0 ? "alert" : "running") %>">
  <input type="checkbox" name="name" value="">Pipeline <%= pipeline.id %> - <%= pipeline.responsible_class %>
  <span class="steps">(<%= pipeline.steps.where(done: true).count %>/<%= pipeline.steps.count %>)</span>
  <span class="datetime"> - <%= pipeline.started_at.blank?? "Não iniciado" : "Iniciado em " +  l(pipeline.started_at.to_time, format: '%d/%m/%Y às %H:%M:%S') %></span>
  <% if pipeline.first_failed_step %>
  <%= link_to 'retry', '', 'data-rel-id' => pipeline.id, class: 'retry' if pipeline.steps.where(failed: true).size > 0 %>
  <% end %>
  <ul class="steps">
    <% pipeline.steps.each do |step| %>
    <li class="<%= step.done?? "done" : (step.failed?? "error" : "") %>">  <%= step.step_class %> - <%= step.done?  %> - <%= step.failed? %></li>
    <% end %>
  </ul>
</li>
<% end %>
</ul>
