<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="15">
    <title>Pipeline Monitor</title>
    <link rel="stylesheet" type="text/css" href="/assets/monitor.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="main-wrapper">
      <h1>Pipeline Monitor</h1>
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript">
    var RetryPipeline = function(e) {
      e.preventDefault();

      var pipeline_id = $(this).data('rel-id');
      $.post('http://localhost:3000/cloudy/api/v1/clouds/AS_DEV/pipeline/' + pipeline_id + '/actions/retry.json');
    }
    $('.retry').click(RetryPipeline);

    var Collapse = function() {
      var el = $(this);
      el.find('ul.steps').toggle();
    }
    $('ul.pipelines > li').click(Collapse);
  </script>
</html>
